<%= form_with model: [@pi, @pi.generated_document || @pi.build_generated_document], url: create_document_pi_path(@pi), local: true do |form| %>
  <div class="field">
    <%= form.label :template_id, "Select a Template" %>
    <%= form.collection_select :template_id, LetterHead.all, :id, :name, include_blank: true %>
  </div>

  <%= form.submit "Generate Document", class: "btn btn-primary" %>
<% end %>
