<div class="col-lg-10 mx-auto mt-5">

  <h3 class="mb-4">Assessment Forms</h3>

  <div class="row">
    <% @unique_users.each do |user| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <% assessment_form = AssessmentForm.by_user_and_filler(user, @filler).last %>

          <% if assessment_form.present? && assessment_form.score.nil? %>
          <!-- If the score is not filled yet -->
          <p class="card-text">
            The assessment form for <%= user.name.titleize %> is not filled yet.
          </p>
          <%= link_to "Fill Assessment Form", form_assessments_path(user_id: user.id), class: "btn btn-primary" %>
          <% elsif assessment_form.present? && assessment_form.score.present? %>
          <!-- If the score is already filled -->
          <p class="card-text">
            This form has already been filled.
          </p>
          
          <% else %>
          <!-- If no assessment form exists -->
          <p class="card-text">
            No assessment form is available for <%= user.name.titleize %> yet.
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="accordion" id="accordionExample">
        <% @unique_users.each do |user| %>

        <% @assessment_forms_ksa = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "دانش و مهارت و توانایی (KSA)" }) %>
        <% @assessment_forms_evc = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "رفتارها و کردارها (EVC)" }) %>
        <% @assessment_forms_function = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "نتایج کلیدی عملکرد" }) %>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <%= user.name %>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <% end %>



      </div>
    </div>
  </div>





</div>