<!-- app/views/assessments/new.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4">New Assessment</h1>

  <%= render 'form', assessment: @assessment, form_button_label: 'Create Assessment' %>
</div>
