<div class="col-lg-10 mx-auto mt-5">
	<h4>Grand Price Quardo League </h4>
	<div class="mt-5">
		<h5 class="text-danger">Format</h5>
		<hr class="text-danger">
		<h6>Group Stage</h6>
		<div style="margin-left: 20px;">
			<small class="fw-bold">. Four groups of 6 players each</small><br>
			<small class="fw-bold">. Single round</small><br>
			<small class="fw-bold">. All series are 2 games</small><br>
			<small class="fw-bold">. <span class="text-success">Top two players</span> in each group will go to upper bracket</small><br>
			<small class="fw-bold">. <span class="text-warning">3rd and 4th place players</span> in each group will go to lower bracket</small><br>
			<small class="fw-bold">. <span class="text-danger">Bottom players</span> in each group is eliminated</small><br>
		</div>
		<h6 class="mt-3">Main Event</h6>
		<div style="margin-left: 20px;">
			<small class="fw-bold"><span class="text-success">. Eight players</span> begin in Upper Bracket in a double-elimination bracket</small><br>
			<small class="fw-bold"><span class="text-warning">. Eight players</span> begin in Lower Bracket in a single-elimination bracket</small><br>
			<small class="fw-bold">. Grand Final is Bo5, all other series are Bo3</small>

		</div>
		<hr class="text-danger">
	</div>
	<h5 class="text-danger mt-5">Standings</h5>
	<hr class="text-danger">
	<div class="row mt-5">
		<div class="col-sm-3">
			<table class="table w-auto table-bordered">
				<thead>
					<tr class="text-danger">Group A</tr>
				</thead>
				<tbody>
					<tr class="table-success">
						<th scope="row">1</th>
						<td>Amin</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-success">
						<th scope="row">2</th>
						<td>Farzin</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">3</th>
						<td>Saffar</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">4</th>
						<td>Reza</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">5</th>
						<td>Dr.Heidary</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">6</th>
						<td>Farzad</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table w-auto table-bordered">
				<thead>
					<tr class="text-danger">Group B</tr>
				</thead>
				<tbody>
					<tr class="table-success">
						<th scope="row">1</th>
						<td>Yaasmin</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-success">
						<th scope="row">2</th>
						<td>Shaghayegh</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">3</th>
						<td>Soheil</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">4</th>
						<td>Mohadese</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">5</th>
						<td>Adnan</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">6</th>
						<td>Hamed</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table w-auto table-bordered">
				<thead>
					<tr class="text-danger">Group C</tr>
				</thead>
				<tbody>
					<tr class="table-success">
						<th scope="row">1</th>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-success">
						<th scope="row">2</th>
						<td>Mostafa</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">3</th>
						<td>Doosti</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">4</th>
						<td>Milad</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">5</th>
						<td>Fakhim</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">6</th>
						<td>Masoud</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<table class="table w-auto table-bordered">
				<thead>
					<tr class="text-danger">Group A</tr>
				</thead>
				<tbody>
					<tr class="table-success">
						<th scope="row">1</th>
						<td>Samira</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-success">
						<th scope="row">2</th>
						<td>Sarvenaz</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">3</th>
						<td>Mohsen</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-warning">
						<th scope="row">4</th>
						<td>Amir</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">5</th>
						<td>Afsane</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
					<tr class="table-danger">
						<th scope="row">6</th>
						<td>-</td>
						<td>0-0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr class="text-danger">
	</div>
	<h5 class="text-danger mt-5">Group Stage</h5>
	<hr class="text-danger">
	<div class="row mt-5">
		<div class="col-sm-4 text-center">
			<table class="table w-auto table-bordered table-primary">
				<thead>
					<tr class="text-danger text-center">Group A</tr>
				</thead>
				<tbody>
					<tr>
						<td>Amin</td>
						<td>0-0</td>
						<td>Farzin</td>
					</tr>
					<tr>
						<td>Amin</td>
						<td>0-0</td>
						<td>Saffar</td>
					</tr>
					<tr>
						<td>Amin</td>
						<td>0-0</td>
						<td>Reza</td>
					</tr>
					<tr>
						<td>Amin</td>
						<td>0-0</td>
						<td>Farzad</td>
					</tr>
					<tr>
						<td>Amin</td>
						<td>0-0</td>
						<td>Dr.Heidary</td>
					</tr>
					<tr>
						<td>Farzin</td>
						<td>0-0</td>
						<td>Saffar</td>
					</tr>
					<tr>
						<td>Farzin</td>
						<td>0-0</td>
						<td>Reza</td>
					</tr>
					<tr>
						<td>Farzin</td>
						<td>0-0</td>
						<td>Farzad</td>
					</tr>
					<tr>
						<td>Farzin</td>
						<td>0-0</td>
						<td>Dr.Heidary</td>
					</tr>
					<tr>
						<td>Saffar</td>
						<td>0-0</td>
						<td>Reza</td>
					</tr>
					<tr>
						<td>Saffar</td>
						<td>0-0</td>
						<td>Farzad</td>
					</tr>
					<tr>
						<td>Saffar</td>
						<td>0-0</td>
						<td>Dr.Heidary</td>
					</tr>
					<tr>
						<td>Reza</td>
						<td>0-0</td>
						<td>Farzad</td>
					</tr>
					<tr>
						<td>Reza</td>
						<td>0-0</td>
						<td>Dr.Heidary</td>
					</tr>
					<tr>
						<td>Farzad</td>
						<td>0-0</td>
						<td>Dr.Heidary</td>
					</tr>
				</tbody>
			</table>
		</div>
				<div class="col-sm-4 text-center">
			<table class="table w-auto table-bordered table-primary">
				<thead>
					<tr class="text-danger text-center">Group B</tr>
				</thead>
				<tbody>
					<tr>
						<td>Yasamin</td>
						<td>0-0</td>
						<td>Shaghayegh</td>
					</tr>
					<tr>
						<td>Yasamin</td>
						<td>0-0</td>
						<td>Soheil</td>
					</tr>
					<tr>
						<td>Yasamin</td>
						<td>0-0</td>
						<td>Mohadese</td>
					</tr>
					<tr>
						<td>Yasamin</td>
						<td>0-0</td>
						<td>Adnan</td>
					</tr>
					<tr>
						<td>Yasamin</td>
						<td>0-0</td>
						<td>Hamed</td>
					</tr>
					<tr>
						<td>Shaghayegh</td>
						<td>0-0</td>
						<td>Soheil</td>
					</tr>
					<tr>
						<td>Shaghayegh</td>
						<td>0-0</td>
						<td>Mohadese</td>
					</tr>
					<tr>
						<td>Shaghayegh</td>
						<td>0-0</td>
						<td>Adnan</td>
					</tr>
					<tr>
						<td>Shaghayegh</td>
						<td>0-0</td>
						<td>Hamed</td>
					</tr>
					<tr>
						<td>Soheil</td>
						<td>0-0</td>
						<td>Mohadese</td>
					</tr>
					<tr>
						<td>Soheil</td>
						<td>0-0</td>
						<td>Adnan</td>
					</tr>
					<tr>
						<td>Soheil</td>
						<td>0-0</td>
						<td>Hamed</td>
					</tr>
					<tr>
						<td>Mohadese</td>
						<td>0-0</td>
						<td>Adnan</td>
					</tr>
					<tr>
						<td>Mohadese</td>
						<td>0-0</td>
						<td>Hamed</td>
					</tr>
					<tr>
						<td>Adnan</td>
						<td>0-0</td>
						<td>Hamed</td>
					</tr>
				</tbody>
			</table>
		</div>
				<div class="col-sm-4 text-center">
			<table class="table w-auto table-bordered table-primary ">
				<thead>
					<tr class="text-danger text-center">Group C</tr>
				</thead>
				<tbody>
					<tr>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>Mostafa</td>
					</tr>
					<tr>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>Doosti</td>
					</tr>
					<tr>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>Milad</td>
					</tr>
					<tr>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>Fakhim</td>
					</tr>
					<tr>
						<td>Farnaz</td>
						<td>0-0</td>
						<td>Masoud</td>
					</tr>
					<tr>
						<td>Mostafa</td>
						<td>0-0</td>
						<td>Doosti</td>
					</tr>
					<tr>
						<td>Mostafa</td>
						<td>0-0</td>
						<td>Milad</td>
					</tr>
					<tr>
						<td>Mostafa</td>
						<td>0-0</td>
						<td>Fakhim</td>
					</tr>
					<tr>
						<td>Mostafa</td>
						<td>0-0</td>
						<td>Masoud</td>
					</tr>
					<tr>
						<td>Doosti</td>
						<td>0-0</td>
						<td>Milad</td>
					</tr>
					<tr>
						<td>Doosti</td>
						<td>0-0</td>
						<td>Fakhim</td>
					</tr>
					<tr>
						<td>Doosti</td>
						<td>0-0</td>
						<td>Masoud</td>
					</tr>
					<tr>
						<td>Milad</td>
						<td>0-0</td>
						<td>Fakhim</td>
					</tr>
					<tr>
						<td>Milad</td>
						<td>0-0</td>
						<td>Masoud</td>
					</tr>
					<tr>
						<td>Fakhim</td>
						<td>0-0</td>
						<td>Masoud</td>
					</tr>
				</tbody>
			</table>
		</div>
				<div class="col-sm-4 text-center">
			<table class="table w-auto table-bordered table-primary">
				<thead>
					<tr class="text-danger text-center">Group D</tr>
				</thead>
				<tbody>
					<tr>
						<td>Samira</td>
						<td>0-0</td>
						<td>Sarvenaz</td>
					</tr>
					<tr>
						<td>Samira</td>
						<td>0-0</td>
						<td>Mohsen</td>
					</tr>
					<tr>
						<td>Samira</td>
						<td>0-0</td>
						<td>Amir</td>
					</tr>
					<tr>
						<td>Samira</td>
						<td>0-0</td>
						<td>Afsane</td>
					</tr>
					<tr>
						<td>Sarvenaz</td>
						<td>0-0</td>
						<td>Mohsen</td>
					</tr>
					<tr>
						<td>Sarvenaz</td>
						<td>0-0</td>
						<td>Amir</td>
					</tr>
					<tr>
						<td>Sarvenaz</td>
						<td>0-0</td>
						<td>Afsane</td>
					</tr>
					<tr>
						<td>Mohsen</td>
						<td>0-0</td>
						<td>Amir</td>
					</tr>
					<tr>
						<td>Mohsen</td>
						<td>0-0</td>
						<td>Afsane</td>
					</tr>
					<tr>
						<td>Amir</td>
						<td>0-0</td>
						<td>Afsane</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	<hr class="text-danger">
	</div>
	<h5 class="text-danger mt-5">Main Event</h5>
	<hr class="text-danger">
	<div class="row mt-5">
		<%= image_tag 'mohsen4.jpg', alt: 'Example Image' %>

	</div>
</div>
