<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-lg-4 col-md">
			<small class="d-block mb-3 text-muted">
				Desk 2023
			</small>
		</div>
		<div class="col-lg-4">
			<h5>Features</h5>
			<ul class="list-unstled text-small">
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">About Us</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">Contact us</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">Missions</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-4">
						<h5>Resources</h5>
			<ul class="list-unstled text-small">
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">Blogs</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">Carier</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="javascript:void(0)">Profiles</a>
				</li>
			</ul>
		</div>
	</div>
</footer>