<div class="col-lg-10 mx-auto mt-5">
	
	<%= render 'clients/client', client: @client %>

	<div class="card mb-5">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="d-flex justify-content-start">
						<h5>Comments</h5>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="d-flex justify-content-end">
						<%= link_to new_client_comment_path(@client), data: { controller: "bs-modal-form", client_id: @client.id }, class: "btn btn-primary" do %>
						Add Comment
						<% end %>
					</div>
				</div>
			</div>

			<ul class="list-group mt-1" id="comment_items">
				<% if @client.comments.present? %>
				<% @client.comments.reverse.each do |comment| %>
				<%= render 'comments/comment', comment: comment %>
				<% end %>

				<% else %>
				<p>no comments</p>
				<% end %>
			</ul>
		</div>
	</div>
</div>