<div class="col-lg-10 mx-auto mt-1">
	<%= render 'home/vacation' %>

	<div class="card mt-3">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="card-body pt-0">
					<div class="card-title pb-1">
						<small class="timeline-small">Total Payments - October</small> 
					</div>
					<div class="row">
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Dirham</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Dollar</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Rial</small>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="card-body pt-0">
					<div class="card-title pb-1">
						<small class="timeline-small">Total Payments - October</small> 
					</div>
					<div class="row">
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Dirham</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Dollar</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card" style="background-color: white !important;">
								<div class="card-body text-center mt-0 pt-0">
									<div>
										<small class="text-center timeline-small">Rial</small>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<%= @paid_orders.inspect %>
<hr>
