<div class="col-lg-10 mx-auto mt-1">
	<%= render 'home/vacation' %>
	<div class="card mt-3" style="background-color: floralwhite !important;">
		<%= render 'home/paid_pos' %>
		<div class="row mt-1">
			<div class="col-12 col-lg-4">
				
				<div class="card-body pt-0">
					<div class="card-title pb-1">
						<small class="timeline-small">latest POs</small> 
					</div>
				</div>


			</div>
			<div class="col-12 col-lg-4">hello</div>
			<div class="col-12 col-lg-4">hello</div>
		</div>
	</div>
	
</div>