<div class="col-lg-10 mx-auto mt-5">
  <div class="alert alert-info border-start border-4 border-primary shadow-sm mb-4" dir="rtl">
  <h5 class="mb-2 text-primary"><i class="bi bi-info-circle-fill me-1"></i> راهنمای تکمیل فرم ارزیابی فصلی</h5>
  <ul class="mb-0 small text-muted">
    <li><strong>ابتدا دوره ارزیابی را انتخاب کنید</strong> — برای مثال: سه‌ماهه اول یا دوم.</li>
    <li>
      اگر برای یک KPI اقدام انجام‌شده یا انجام‌نشده‌ای ندارید، لطفاً همچنان فرم را تکمیل کرده و 
      <strong>برنامه زمانی اجرای آن KPI را وارد نمایید</strong>. مثلا "انجام این کار در سه ماه بعدی خواهد بود"
    </li>
    <li>
      در صورتی که فرم ارسال نمیشود حتما برای یکی یا چند تا از KPI هیچ کدام از اقدامات انجام شده یا نشده را پر نکردید. در این صورت طبق مورد بالا فقط با زمان بندی فرم را پر نمایید
    </li>

  </ul>
</div>

<h4>Fill Quarterly Evaluation for <%= @year %></h4>
<%= render 'edit_form' %>
</div>