<div class="col-lg-10 mx-auto mt-5">

<% if @all_payments_done %>
  <p>All payments are done for this project.</p>

  <%=  @advance_payments.count %>
  <%=  @balance_payments.count %>



<% else %>
  <p>Some payments are still pending for this project.</p>
<% end %>
</div>
