<h1>Turnover Report</h1>

<% if @all_payments_done %>
  <p>All payments are completed.</p>
  <h2>Results</h2>
<p>Total Days Until Money Back: <%= @return_days %></p>
<% else %>
  <p>Some payments are still pending.</p>
<% end %>



