<h1>پنل مدیریت حقوق و دستمزد</h1>

<div class="list-group">
  <%= link_to "➕ ساخت ماه شمسی جدید", new_shamsi_month_path, class: "list-group-item list-group-item-action" %>
  
<%= link_to "مشاهده کارکرد کارمندان", salary_admin_salary_archive_days_path(shamsi_month_id: 1) %>



</div>
