.bg-semi {
	background-color: #fffde7 !important;
}
.card {
	background-color: ghostwhite !important;
}
.rahkarsazan_payment_order {
	background-color: #fcfd1145 !important;
}
.confirm-size {
	font-size: 24px !important;
}
.iconClass {
	position: relative;
}
.iconClass span {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
}
.notifMenu {
	min-width: 323px;
}
.vacation-bg {
	background: #f1f1f1;
}
.notifLink {
	font-weight: 700;
	text-decoration: none;
	color: red;
}
@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none;
  }
}
.confirmation-date {
	font-size: 11px;
	color: #888891;
	margin: 0px !important;
}
.confirm-job {
	margin: 0px !important;
}
.link-nodecor-po {
	text-decoration: none;
	color: black;
}