.bg-semi {
	background-color: #fffde7 !important;
}
.bg-semi-list{
	background-color: #efefef !important;
}
.bg-semi-list-2{
	background-color: #cbcbcb !important;
}
.card {
	background-color: ghostwhite !important;
}
.rahkarsazan_payment_order {
	background-color: #fcfd1145 !important;
}
.confirm-size {
	font-size: 24px !important;
}
.iconClass {
	position: relative;
}
.iconClass span {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
}
.notifMenu {
	min-width: 323px;
}
.vacation-bg {
	background: #f1f1f1;
}
.notifLink {
	font-weight: 700;
	text-decoration: none;
	color: red;
}
@media only screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
	.stamp-image {

		top: 139px; /* Adjust the top position as needed */

	}
}
@media only screen and (min-width: 768px) {
	.hide-on-desktop {
		display: none;
	}
	.stamp-image {
		top: 36px; /* Adjust the top position as needed */
	}

}
.confirmation-date {
	font-size: 11px;
	color: #888891;
	margin: 0px !important;
}
.confirm-job {
	margin: 0px !important;
}
.link-nodecor-po {
	text-decoration: none;
	color: black;
}
.stamp-content {
	position: relative;
}
.stamp-image {
		position: absolute;
		right: 55px; /* Adjust the left position as needed */
		width: 159px; /* Set the width of the stamp image */
		z-index: 1; /* Ensure the stamp image appears above the content */
		opacity: 0.5; /* Adjust the opacity as needed */
}
.my-custom-accordion-btn {
  padding: 0.25rem 0.5rem; /* Smaller padding */
  font-size: 0.875rem; /* Smaller font size */
  color: darkblue;
  background-color: #fbc3c3;
}
.no-risk { color: #6d6060 }
.risk-low { color: green; }
.risk-medium { color: yellow; }
.risk-high { color: orange; }
.risk-extreme { color: red; }

/******************* Timeline Demo - 2 *****************/
.py-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}
@media(min-width:576px){.py-sm-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}}
@media(min-width:768px){.py-md-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}}
@media(min-width:992px){.py-lg-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}}
@media(min-width:1200px){.py-xl-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}}
@media(min-width:1400px){.py-xxl-8{padding-bottom:4.5rem!important;padding-top:4.5rem!important}}
.bsb-timeline-7{--bsb-tl-color:var(--bs-primary-bg-subtle);--bsb-tl-circle-color:var(--bs-light);--bsb-tl-circle-border-color:var(--bs-primary);--bsb-tl-indicator-color:var(--bs-white);--bsb-tl-circle-size:16px;--bsb-tl-circle-offset:8px;--bsb-tl-circle-border-size:2px}
.bsb-timeline-7 .timeline{list-style:none;margin:0;padding:0;position:relative}
.bsb-timeline-7 .timeline:after{background-color:var(--bsb-tl-color);bottom:0;content:"";left:0;margin-left:-1px;position:absolute;top:0;width:2px}
@media(min-width:768px){.bsb-timeline-7 .timeline:after{left:33%}}
.bsb-timeline-7 .timeline>.timeline-item{margin:0;padding:0;position:relative}
.bsb-timeline-7 .timeline>.timeline-item:after{background:var(--bsb-tl-circle-color);border:var(--bsb-tl-circle-border-size) solid var(--bsb-tl-circle-border-color);border-radius:50%;content:"";height:var(--bsb-tl-circle-size);left:calc(var(--bsb-tl-circle-offset)*-1);position:absolute;top:calc(50% - var(--bsb-tl-circle-offset));width:var(--bsb-tl-circle-size);z-index:1}
.bsb-timeline-7 .timeline>.timeline-item .timeline-body{margin:0;padding:0;position:relative}
.bsb-timeline-7 .timeline>.timeline-item .timeline-meta{padding:0 0 1rem 2.5rem}
.bsb-timeline-7 .timeline>.timeline-item:first-child .timeline-meta{padding:2.5rem 0 1rem 2.5rem}
.bsb-timeline-7 .timeline>.timeline-item .timeline-content{padding:0 0 2.5rem 2.5rem}
@media(min-width:768px){.bsb-timeline-7 .timeline>.timeline-item{left:33%;width:67%}.bsb-timeline-7 .timeline>.timeline-item .timeline-meta{display:flex;justify-content:flex-end;left:-100%;margin:0;padding:0 2.5rem 0 0;position:absolute;top:calc(50% - 29px);width:100%;z-index:1}.bsb-timeline-7 .timeline>.timeline-item:first-child .timeline-meta{padding:0 2.5rem 0 0}.bsb-timeline-7 .timeline>.timeline-item .timeline-content{padding:2.5rem}.bsb-timeline-7 .timeline>.timeline-item .timeline-indicator{position:relative}.bsb-timeline-7 .timeline>.timeline-item .timeline-indicator:after{border-width:1px;border:10px solid var(--bsb-tl-indicator-color);border-color:transparent var(--bsb-tl-indicator-color) transparent transparent;border-left-width:0;content:"";left:calc(2.5rem - 10px);position:absolute;top:calc(50% - var(--bsb-tl-circle-offset));z-index:1}}
.timeline-h5{font-size:13px;color:#898d55}
.card-custom{
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.timeline-small{
	color: #6799ad;
}
/******************* Timeline Demo - 2 *****************/