.bg-semi {
	background-color: #fffde7 !important;
}
.card {
	background-color: ghostwhite !important;
}
.rahkarsazan_payment_order {
	background-color: #fcfd1145 !important;
}
.confirm-size {
	font-size: 24px !important;
}
.iconClass {
	position: relative;
}
.iconClass span {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
}
.notifMenu {
	min-width: 323px;
}
.vacation-bg {
	background: #f1f1f1;
}
.notifLink {
	font-weight: 700;
	text-decoration: none;
	color: red;
}
@media only screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
	.stamp-image {

		top: 139px; /* Adjust the top position as needed */

	}
}
@media only screen and (min-width: 768px) {
	.hide-on-desktop {
		display: none;
	}
	.stamp-image {
		top: 36px; /* Adjust the top position as needed */
	}

}
.confirmation-date {
	font-size: 11px;
	color: #888891;
	margin: 0px !important;
}
.confirm-job {
	margin: 0px !important;
}
.link-nodecor-po {
	text-decoration: none;
	color: black;
}
.stamp-content {
	position: relative;
}
.stamp-image {
		position: absolute;
		right: 55px; /* Adjust the left position as needed */
		width: 159px; /* Set the width of the stamp image */
		z-index: 1; /* Ensure the stamp image appears above the content */
		opacity: 0.5; /* Adjust the opacity as needed */
}


